*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: beige;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 30rem;
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    background-color:  #361C32;
    
}

h1{
    color: white;
}