html,
body {
    height: 100%;
    width: 100%;
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;

}

.flex-container {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    height: 90vh;
}

.flex-1 {
    background-color: hsl(31, 77%, 52%);
    height: 450px;
    width: 250px;
    padding: 40px 48px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}
.svg-icon {
    margin-bottom: 28px;
}

.flex-2 {
    background-color: hsl(184, 100%, 22%);
    height: 450px;
    width: 250px;
    padding: 40px 48px;

}

.flex-3 {
    background-color: hsl(179, 100%, 13%);
    height: 450px;
    width: 250px;
    padding: 40px 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.div-content p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 160%;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 1.5rem;

}

#heading {
    font-family: 'Big Shoulders Display';
    color: hsl(0, 0%, 95%);
    font-size: 32px;
    font-weight: 700;

}

.btn-btn {
    margin-top: 3rem;
}

button {
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;

}

button:hover {
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);

}

#btn-1 {
    text-align: center;
    color: rgba(203, 119, 15, 0.871);
    font-weight: 600;
}

#btn-1:hover {
    color: #f5f5f5;
}

#btn-2 {
    text-align: center;
    color: rgb(25, 91, 106);
    font-weight: 600;
}

#btn-2:hover {
    color: #f5f5f5;
}


#btn-3 {
    text-align: center;
    color: rgb(6, 62, 59);
    font-weight: 600;
}

#btn-3:hover {
    color: #f5f5f5;
}


.navigator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: hsl(0, 0%, 95%);

}


@media screen and(max-width: 1440px) {
    .flex-container {
        flex-direction: row;


    }


}


@media screen and(max-width: 700px) {
    .flex-container {
        flex-direction: column;
        height: auto;

    }

    .flex-1 {
        width: 100%;
        border: none;
        border-radius: 0;


    }

    .flex-2 {
        width: 100%;

    }

    .flex-3 {
        width: 100%;
        border: none;
        border-radius: 0;

    }

    .navigator {
        display: none;
    }
}
